{% extends "base.html" %}

{% block title %}פרקים אחרונים - {{ site.title }}{% endblock %}

{% block content %}
    <h2 class="page-title">פרקים אחרונים</h2>
    <ul class="episode-list">
        {% for episode in episodes %}
        <li class="episode-item">
            {% if episode.feed_image %}
            <img src="{{ episode.feed_image }}" alt="{{ episode.feed_name }} Cover" class="feed-icon">
            {% endif %}
            <div class="episode-info">
                <span class="date">{{ episode.published_date }}</span>
                <a href="episodes/{{ episode.feed_slug }}/{{ episode.slug }}.html" class="episode-title">{{ episode.title }}</a>
                <span class="feed-name">{{ episode.feed_name }}</span>
            </div>
        </li>
        {% endfor %}
    </ul>
{% endblock %}